attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.4
filelock==3.20.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
numpy==2.4.0
pandas==2.3.3
protobuf==6.33.2
pyOpenSSL==25.3.0
redis==7.1.0
scikit_learn==1.8.0
scipy==1.16.3
Sphinx==9.1.0
thread==2.0.6
torch==2.9.1+cu126
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
